<div class="row">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <span class="glyphicon glyphicon-credit-card"></span> Card Details</div>

    <ul class="list-group">
      <li class="list-group-item"><strong>Issued By: </strong>{{ card.bank }}</li>
      <li class="list-group-item"><strong>Card Holder: </strong>{{ card.cardHolder }}</li>
      <li class="list-group-item"><strong>Card Number: </strong>{{ card.cardNo | cardNumMask: mask }}
        <button type="button" (click)="toggleMask()" class="btn btn-default btn-sm glyphicon {{mask ? 'glyphicon-eye-open' : 'glyphicon-eye-close'}}"
          title="{{mask ? 'Show Card Number' : 'Hide Card Number'}}"></button>
      </li>
      <li class="list-group-item"><strong>Limit: </strong>{{ card.limit }}</li>
      <li class="list-group-item"><strong>Expiry Date: </strong>{{ card.expiryDate | date }}</li>
      <li class="list-group-item"><strong>Due Amount: </strong>{{ card.dueAmount }}</li>
      <li class="list-group-item"><strong>Due Date: </strong>{{ card.dueDate | date }}</li>
    </ul>
    <div class="panel-body">
      <div class="col-xs-12">
        <div class="btn-group" appDropdown>
          <button type="button" class="btn btn-primary dropdown-toggle">
            Manage Card <span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
            <li><a style="cursor: pointer;" (click)="onEditCard()">Edit Card</a></li>
            <li><a style="cursor: pointer;" (click)="onDeleteCard()">Delete Card</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
