<div class="col-xs-12">
  <div class="btn-group" appDropdown>
    <button type="button" class="btn btn-success dropdown-toggle">
      New Master <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
      <li><a style="cursor: pointer;">System Parameter</a></li>
      <li><a style="cursor: pointer;">Code Master</a></li>
    </ul>
  </div>
  <hr>
  <div class="row">
    <div class="col-md-6 col-xs-6">
      <div class="panel panel-primary">
        <div class="panel-heading">System Parameter</div>
        <div class="panel-body">
          <table class="table table-striped" [mfData]="sysparams" #mfSystem="mfDataTable" [mfRowsOnPage]="10">
            <thead>
              <tr>
                <th style="width: 45%">
                  <mfDefaultSorter by="param">Parameter</mfDefaultSorter>
                </th>
                <th style="width: 40%">
                  <mfDefaultSorter by="value">Value</mfDefaultSorter>
                </th>
                <th style="width: 15%"></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let sysparam of mfSystem.data; let i = index">
                <td>{{sysparam.param}}</td>
                <td>{{sysparam.value}}</td>
                <td>
                  <div class="row">
                    <button type="button" class="btn btn-warning btn-sm glyphicon glyphicon-pencil" (click)="onEdit(i)"></button>
                    <button type="button" class="btn btn-danger btn-sm glyphicon glyphicon-trash" style="margin-left: 2px"
                      (click)="onDelete(i)"></button>
                  </div>
                </td>
              </tr>
            </tbody>
            <tfoot>
              <tr>
                <td colspan="3">
                  <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25]"></mfBootstrapPaginator>
                </td>
              </tr>
            </tfoot>
          </table>
        </div>
      </div>
    </div>
    <!-- code master -->
    <div class="col-md-6 col-xs-6">
      <div class="panel panel-primary">
        <div class="panel-heading">Code Master</div>
        <div class="panel-body">
          <table class="table table-striped" [mfData]="codeMasters" #mfCode="mfDataTable" [mfRowsOnPage]="10">
            <thead>
              <tr>
                <th style="width: 40%">
                  <mfDefaultSorter by="code">Code</mfDefaultSorter>
                </th>
                <th style="width: 60%">
                  <a>Code Values</a>
                </th>                
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let codeMaster of mfCode.data; let i = index">
                <td>{{codeMaster.code}}
                    <div style="margin-top: 10px;">
                        <button type="button" class="btn btn-warning btn-sm glyphicon glyphicon-pencil" (click)="onEdit(i)"></button>
                        <button type="button" class="btn btn-danger btn-sm glyphicon glyphicon-trash" style="margin-left: 2px"
                          (click)="onDelete(i)"></button>
                      </div>
                </td>
                <td>
                  <ul class="list-group">
                    <li class="list-group-item" *ngFor="let codeVal of codeMaster.codeValues">{{codeVal}}</li>
                  </ul>
                </td>
                
                

              </tr>
            </tbody>
            <tfoot>
              <tr>
                <td colspan="2">
                  <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25]"></mfBootstrapPaginator>
                </td>
              </tr>
            </tfoot>
          </table>
        </div>
      </div>
    </div>
  </div>

</div>