<div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8">
      <form (ngSubmit)="signIn(refForm)" #refForm="ngForm">
        <div>
          <label for="email">Mail</label>
          <input type="text" id="email" name="email" ngModel class="form-control" required email>
        </div>
        <div>
          <label for="password">Password</label>
          <input type="password" id="password" name="password" ngModel class="form-control" required>
        </div>
        <br>
        <div>
          <button class="btn btn-primary" type="submit" [disabled]="!refForm.valid">Sign In</button>
        </div>
      </form>
    </div>
  </div>
